.business {
    background-image: url('../../assets/images/secondary_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.business::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--Black);
    opacity: 0.88;
    z-index: -3;
}

.business .header {
    font-size: var(--p-16);
}

.business .header::after {
    content: "";
    position: absolute;
    width: 79px;
    height: 2px;
    background-color: var(--Secondary);
    left: 0;
    bottom: -8px;

}

.business .content .icon {
    color: var(--Grey);
}

.business .content .clickTime {
    font-size: var(--p-16);
}

.business .content .headerTwo {
    font-size: var(--h2-36);
    font-weight: var(--fw-600);
}

@media(max-width:767px) {
    .business .content .headerTwo {
        font-size: var(--p-24);
        font-weight: var(--fw-600);
    }
}

.business .business-box {
    background: var(--Top-bg);
    color: var(--White-for-txt);
    padding: 50px 71px !important;
}

.business .business-box p {
    font-size: var(--p-20);
    font-weight: var(--fw-400);
}

@media(max-width:767px) {
    .business .business-box {
        padding: 20px 20px !important;
    }

    .business .business-box p {
        font-size: var(--p-16);
        font-weight: var(--fw-400);
    }
}

.business .business-box .image-box {
    width: 100%;
    margin: auto;
}

.business .business-box img {
    width: 100%;

}

.business .business-subscribe {
    background-color: var(--Footer-bg);
    padding: 50px 20px;
}

.business .business-subscribe .sub-title {
    font-size: var(--p-24);
    font-weight: var(--fw-600);
}

.business .business-subscribe .sub-text {
    font-size: var(--p-24);
    font-weight: var(--fw-400);

}

.business .input-sub {
    background-color: var(--Gradient-bg);
    border: none;
    color: var(--White-for-txt);
    border-radius: 6px;

}

.business .input-sub:focus {
    border: 1px solid var(--btn-defauit);
    box-shadow: none;
    background-color: var(--Gradient-bg);
    color: var(--White-for-txt);

}

.business .btn-subscribe {
    background-color: var(--btn-defauit);
    border: 0px;
    font-weight: var(--fw-600);
    text-transform: uppercase;
    font-size: var(--p-24);
    padding: 10px 20px;
    box-shadow: none;
    margin-left: -15px !important;
    border-radius: 6px;
    transition: var(--transition-1);
    text-align: center;
}

.business .btn-subscribe:focus,
.business .btn-subscribe:hover {
    background-color: var(--btn-hover) !important;
}

@media(max-width:992px) {
    .business .btn-subscribe {
        margin-left: 0px !important;
    }
}